<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
  <body>
    <p th:text="'ID: ' + ${user.getId()}"/>
    <p th:text="'Имя: ' + ${user.getUsername()}"/>
    <p th:text="'Email: ' + ${user.getEmail()}"/>
    <p th:text="'Год рождения: ' + ${user.getYearOfBirth()}"/>
    <hr>
    <a href="/admin/users">Перейти к списку всех пользователей</a>
    <hr>
    <form th:action="@{/logout}" th:method="POST">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>